@import "./variable.scss";


header{
    position: relative;

    .header_inner.fixed{
        width:100%;
        opacity: 0.8;
        position:fixed;
        top:0;
        left:0;
        z-index:1000;
        background-color: white;
      }

    .header_inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        background-color: white;

        @include sp{
            height:53px;
        }
        .logo-block{
            display: flex;
            margin-left: 50px;
            align-items: flex-end;
            @include pc-head(){
                margin-left: 30px;
            } 
            @include sp{
                margin-left: 10px;
            }
            .head_logo{
                width: 183px;
                height: 33px;
                margin-right: 10px;
                @include pc-head(){
                    width: 160px;
                    height: 28.8px;
                }
                @include sp{
                    width: 113px;
                    height: 20px;
                } 
                &:hover{
                    opacity: 0.7;
                    transition: 0.3s;
                }
            }
            .head_recruit_logo{
                width: 84px;
                height: 24px;
                margin-right: 13.6px;
                @include pc-head(){
                    width: 70px;
                    height: 19px;    
                } 
                @include sp{
                    width: 60px;
                    height: 17px;
                } 
            }

            .link_company{
                font-size: 1.3rem;
                display: block;
                border-bottom: 1px solid #1F1F1F;
                background-image: url(../img/common/link_logo.png);
                background-position: 100% 50%;
                background-size: 13%;
                font-size: 1.3em;
                font-weight: bold;
                width: 111px;
                letter-spacing: 0.1em;
                @include pc-head(){
                    font-size: 1.1em;
                    width: 90px;
                } 
                @include sp{
                    display: none;
                }

                &:hover{
                    opacity: 0.6;
                    transition: 0.3s;
                }
             

            }
        }/*logo_block*/

        .header_nav{
            height: 90px;
            @include pc{
                position: fixed;
                z-index: 12;
                top: 0;
                left: 0;
                background: white;
                text-align: center;
                width: 100%;
                height: 100%;
                display: none;
            }
           

            ul{
                display: flex;
                height: 100%;
                align-items: center;
                @include pc{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    display: block;
                    padding-top: 130px;
                }
                @include sp{
                    padding-top: 70px;
                }

            li{
                list-style-type:none;
                padding-right: 30px;
                height: 100%;
                align-items: center;
                display: block;
    
                @include pc-head(){
                    padding-right: 20px;
                }

                @include pc{
                    font-size: 24px;
                    list-style-type: none;
                    width: 100%;
                    padding-bottom: 0px;
                    height: auto;
                    padding-right: 0px;
                }


                a{
                    display: block;
                    font-size: 1.4em;
                    font-weight: bold;
                    letter-spacing: 1.4px;
                    align-items: center;
                    height: 100%;
                    padding-top: 39px;
                    padding-bottom: 36px; 
                    
                @include pc-head(){
                 font-size: 1vw;   
                } 
                @include pc{
                    color: #000000;
                    font-size: 18px;
                    padding: 15px 0px;
                }

                    &:hover{
                        opacity: 0.7;
                        transition: 0.2s;
                    }  
                }
            }

            #entry_button{
                background-color: #EDC144;
                text-align: center;
                padding-right: 0px;

                @include pc{
                    width: 180px;
                    margin: 0 auto;
                }

                a{
                    display: block;
                    font-size: 2.3em;
                    letter-spacing: 0.1em;
                    line-height: 22px;
                    padding-top: 25px;
                    padding-bottom: 22px; 
                    padding-right: 52px;
                    padding-left: 52px;    
                    color: black;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;

                    @include pc-head(){
                        font-size: 1.8em;
                        padding-right: 46px;
                        padding-left: 46px;        
                    } 
                    @include pc{
                        font-size: 1.2em;
                        display: block;
                        padding: 10px 0px;
                        line-height: 1;
                    }

                    &:hover{
                        opacity: 0.6;
                        transition: 0.2s;
                    }   
                
                .entry-top{
                    display: block;
                    font-size: 10px;
                    line-height: 16px;   
                    font-family: 'Noto Sans JP', sans-serif;
                }
            }
            }
            }
        }/*ul*/
        }/*nav*/

        .Toggle{
            display: none;
            @include pc{
                position: fixed;
                right:18px;
                top: 23px;
                width: 45px;
                height: 45px;
                cursor: pointer;
                z-index: 13;
                display: block;
                span{
                    display: block;
                    position: absolute;
                    width: 35px;
                    border-bottom: solid 4px #E7C15B;
                    -webkit-transition: .35s ease-in-out;
                    -moz-transition: .35s ease-in-out;
                    transition: .35s ease-in-out;
                    left: 6px;
                    &:nth-child(1){
                        top: 9px;
                    }
                    &:nth-child(2){
                        top: 20px;
                    }
                    &:nth-child(3){
                        top: 31px;
                    }
                }
            }

            @include sp{
                top: 6px;
                right: 8px;
                width: 35px;
                height: 35px;
                span{
                    width: 22.7px;
                    border-bottom: solid 2px #E7C15B;
                    &:nth-child(1){
                        top: 15px;
                    }
                    &:nth-child(2){
                        top: 20px;
                    }
                    &:nth-child(3){
                        top: 25px;
                    }
                }
            }
        }
        .Toggle.active span:nth-child(1) {
            top: 18px;
            left: 6px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-bottom: solid 3px #E7C15B;
            @include sp{
                border-bottom: solid 2px #E7C15B;
            }
            }
            .Toggle.active span:nth-child(2),
            .Toggle.active span:nth-child(3) {
            top: 18px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            border-bottom: solid 3px #E7C15B;
            @include sp{
                border-bottom: solid 2px #E7C15B;
            }
            }
    }/*header*/
